* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff ;
    padding: 3em 1em;
}

h1 {
    padding: 0.7em;
    color: rgb(99, 64, 119);
}

/************** Navbar **************/
nav {
    width: 100%;
}

ul {
    width: 100%;
    display: flex;
    gap: 2em;
}

li {
    padding: 1em;
    border: 0.3em solid rgb(99, 64, 119);
    border-radius: 5%;
    list-style: none;
}

li:hover {
    transform: scale(1.2);
    transition: 1.2s;
}

li a {
    color: rgb(99, 64, 119) ;
    text-decoration: none;
}
